.closeButton {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 25px;
  fill: #ededed;
}

.content {
  padding: 37px 12px 0px 12px;
}

.open {
  background-color: #282c34;
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  transition: transform 0.4s 0.2s ease-out;
  transform: translateX(100vw);
}

.closed {
  background-color: #282c34;
  border-right: 1px solid #3b414d;
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  transition: transform 0.4s 0.2s ease-out;
  transform: translateX(0px);
}

@media screen and (min-width: 500px) {
  .open {
    border-right: 1px solid #3b414d;
    left: -350px;
    width: 350px;
    height: 100vh;
    transform: translateX(350px);
  }
}
